body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2;
  color: #acb4c2
}

a {
  outline: none!important;
  color: #8ea0b0;
  font-style: italic;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}

a:focus, a:hover {
  color: #8ea0b0;
  text-decoration: none
}

button, input, textarea, .transition-3 {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #8ea0b0
}

h1, .h1 {
  font-size: 35px
}

h2, .h2 {
  font-size: 28px
}

h3, .h3 {
  font-size: 25px
}

h4, .h4 {
  font-size: 22px
}

h5, .h5 {
  font-size: 17px
}

h6, .h6 {
  font-size: 14px
}

h5 {
  text-decoration: underline;
  margin-top: 50px
}

pre {
  font-size: 16px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  color: #4d5155;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}

.tacenter {
  text-align: center
}

.taright {
  text-align: right
}

.taleft {
  text-align: left
}

.fleft {
  float: left
}

.fright {
  float: right
}

.fw-300 {
  font-weight: 300!important
}

.fw-400 {
  font-weight: 400!important
}

.fw-500 {
  font-weight: 500!important
}

.fw-600 {
  font-weight: 600!important
}

.fw-700 {
  font-weight: 700!important
}

.pr-none {
  padding-right: 0
}

.pl-none {
  padding-left: 0
}

.mb10 {
  margin-bottom: 10px!important
}

.mb15 {
  margin-bottom: 15px!important
}

.mb20 {
  margin-bottom: 20px!important
}

.mb25 {
  margin-bottom: 25px!important
}

.mb30 {
  margin-bottom: 30px!important
}

.mb35 {
  margin-bottom: 35px!important
}

.mb40 {
  margin-bottom: 40px!important
}

.mb45 {
  margin-bottom: 45px!important
}

.mb50 {
  margin-bottom: 50px!important
}

.mb55 {
  margin-bottom: 55px!important
}

.mb60 {
  margin-bottom: 60px!important
}

.mt10 {
  margin-top: 10px!important
}

.mt15 {
  margin-top: 15px!important
}

.mt20 {
  margin-top: 20px!important
}

.mt25 {
  margin-top: 25px!important
}

.mt30 {
  margin-top: 30px!important
}

.mt35 {
  margin-top: 35px!important
}

.mt40 {
  margin-top: 40px!important
}

.mt45 {
  margin-top: 45px!important
}

.mt50 {
  margin-top: 50px!important
}

.mt55 {
  margin-top: 55px!important
}

.mt60 {
  margin-top: 60px!important
}

.mbnone {
  margin-bottom: 0!important
}

.mtnone {
  margin-top: 0!important
}

.break-word {
  -ms-word-wrap: break-word;
  word-wrap: break-word
}

div.pp_default .pp_content {
  background-color: #f8f8f8
}

@media(min-width:1200px) {
  .container {
    width: 1200px
  }
}

#docs-header {
  background-color: #428bca;
  min-height: 40px;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1)
}

.docs-header-container {
  text-align: center
}

.docs-header-navigation {
  margin: 0;
  padding: 0
}

.docs-header-navigation li {
  display: inline-block
}

.docs-header-navigation li a {
  display: inline-block;
  line-height: 40px;
  padding: 0 15px;
  font-size: 13px;
  font-weight: 400;
  color: #cdddeb;
  text-decoration: none
}

.docs-header-navigation li a:hover {
  color: #fff
}

.docs-header-navigation li.twitter-link a {
  padding-right: 7px
}

.docs-header-navigation li.facebook-link a {
  padding-left: 7px
}

.docs-header-navigation li.twitter-link a, .docs-header-navigation li.facebook-link a {
  font-size: 14px
}

.docs-header-navigation li.theme-name {
  margin-right: 25px
}

.docs-header-navigation li.theme-name a {
  font-size: 14px;
  font-weight: 600;
  color: #fff
}

.docs-heading-container {
  padding: 100px 0;
  margin-bottom: 80px;
  border-bottom: 1px solid #f5f5f5
}

.docs-heading-container h1 {
  margin-bottom: 10px;
  font-size: 38px;
  -ms-word-wrap: break-word;
  word-wrap: break-word
}

.docs-heading-container p {
  margin: 40px auto;
  padding: 10px;
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 0;
  background: #f5f5f5;
  border-left: 5px solid #efefef;
  padding-left: 10px
}

.docs-heading-container ul {
  margin: 40px -10px 0
}

.docs-heading-container ul li {
  margin: 10px 10px 0;
  font-size: 14px
}

.sidebar-navigation {
  width: 212px;
  margin: 20px 0 0;
  padding: 0
}

.sidebar-navigation li {
  margin: 2px 0
}

.sidebar-navigation li:first-child {
  margin-top: 0
}

.sidebar-navigation li:last-child {
  margin-bottom: 0
}

.sidebar-navigation li a {
  display: block;
  padding: 10px 0 10px 15px;
  border-left: 5px solid #fff;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: #8e9499;
  font-style: normal
}

.sidebar-navigation li.active a, .sidebar-navigation li a:hover {
  background: #f5f5f5;
  border-left-color: #efefef;
  color: #36393b
}

.sidebar-navigation li.nav-item-back-to-top {
  margin-top: 40px
}

.sidebar-navigation li.nav-item-back-to-top a:hover, .sidebar-navigation li.nav-item-back-to-top.active a:hover {
  border-left-color: #fff;
  color: #36393b
}

.sidebar-navigation li.nav-item-back-to-top.active a {
  background: transparent;
  border-left-color: #fff;
  color: #8e9499
}

.sidebar-navigation.affix {
  top: 0
}

.sidebar-navigation.affix-bottom {
  position: absolute
}

.content {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  -ms-word-wrap: break-word;
  word-wrap: break-word
}

.content p {
  margin-bottom: 15px
}

.content p:last-child {
  margin-bottom: 0
}

.content-section {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px
}

.content-section-heading {
  margin-bottom: 30px
}

.content-section-image {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  padding: 5px;
  background: #f8f8f8
}

.content-section-image img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
  border-radius: 2px
}

.content ul {
  padding-left: 20px;
  margin: 0 0 15px
}

.content ul ol {
  padding-left: 20px;
  margin: 2px 0
}

.content ul ul {
  padding-left: 20px;
  margin: 2px 0
}

.content li {
  margin: 2px 0
}

.content ol {
  padding-left: 20px;
  margin: 0 0 15px
}

.content ol ul {
  padding-left: 20px;
  margin: 2px 0
}

.content ol ul ul {
  padding-left: 20px;
  margin: 2px 0
}

.content ol ol {
  padding-left: 20px;
  margin: 2px 0
}

.content ol ul ol {
  padding-left: 20px;
  margin: 2px 0
}

.ul-large-indent li {
  margin-bottom: 10px
}

.ul-large-indent li:last-child {
  margin-bottom: 2px
}

.table-bordered, .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border-color: #f0f0f0
}

.alert {
  line-height: 24px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px
}

#docs-footer {
  background: #f5f5f5;
  margin-top: 40px
}

.docs-footer-container {
  padding: 50px 0;
  text-align: center;
  color: #acb4c2;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6
}

.docs-footer-container p:last-child {
  margin-bottom: 0
}

.docs-footer-container i {
  margin: 0 4px
}

.docs-footer-container a {
  color: #acb4c2;
  font-weight: 600
}

.navbar-brand, .navbar-nav>li>a {
  text-shadow: none
}

.navbar-brand {
  padding: 0;
  margin-right: 15px;
  height: auto;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #fff
}

.navbar-brand:hover, .navbar-brand:focus {
  color: #fff
}

.responsive-nav-collapse-btn {
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}

.responsive-nav-collapse-btn:hover, .responsive-nav-collapse-btn:focus {
  color: #fff
}

.responsive-nav-collapse-btn:active {
  position: relative;
  top: 1px
}

@media(max-width:992px) {
  #responsive-nav-collapse {
    padding: 0 15px;
    border-top: 1px solid rgba(255, 255, 255, .15);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
  }
}

.responsive-nav {
  margin: 10px 0;
  padding: 0
}

.responsive-nav li {
  margin: 2px 0
}

.responsive-nav li a {
  display: block;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  color: #cdddeb;
  text-decoration: none
}

.responsive-nav li a:hover {
  color: #fff
}

.editor {
  margin-top: 40px
}

.editor .editor-title {
  color: #a9a9a9;
  position: relative;
  text-align: center;
  top: 1px;
  width: 100%;
  height: 30px;
  border: 1px solid #f2f2f2;
  border-bottom: 0;
  background-color: #f5f5f5;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0
}

.editor pre.prettyprint {
  font-size: 14px;
  padding: 5px 20px;
  overflow: hidden
}

.editor .controls {
  position: absolute;
  left: 0;
  padding-top: 2px
}

.editor span.control {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  border-radius: 20px;
  display: inline-block;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px
}

.editor span.control-1 {
  background: #df6963;
  margin-left: 20px
}

.editor span.control-2 {
  background: #f5e18a
}

.editor span.control-3 {
  background: #97c38a
}

#codes {
  border-bottom: 1px solid #5f5f5f;
  background-color: #34312c;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px
}

#codes>li {
  padding: 8px 0 8px 8px
}

#codes>li>a {
  position: relative;
  display: block;
  padding: 3px 15px;
  border-radius: 4px;
  color: #fefdf9;
  cursor: pointer!important
}

#codes>li.active>a, #codes>li.active>a:focus, #codes>li.active>a:hover, #codes>li>a:active, #codes>li>a:focus, #codes>li>a:hover {
  position: relative;
  display: block;
  padding: 3px 15px;
  border-radius: 4px;
  color: #fdb839;
  cursor: default;
  background-color: #655f56;
  border: 1px solid #3e3a33;
  border-bottom-color: transparent
}

code, pre {
  white-space: normal;
  border: 0!important;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

xmp {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px
}

pre.prettyprint {
  display: block;
  background-color: #1d1f21
}

pre .nocode {
  background-color: none;
  color: #000
}

pre .str {
  color: #96b38a
}

pre .kwd {
  color: #fdb839
}

pre .com {
  color: #b3b3b3
}

pre .typ {
  color: #fdb839
}

pre .lit {
  color: #cd5c5c
}

pre .pun {
  color: #fff
}

pre .pln {
  color: #ccc
}

pre .tag {
  color: #fdb839
}

pre .atn {
  color: #bdb76b
}

pre .atv, pre .dec {
  color: #fdb839
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #666;
  margin-left: 20px
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal!important
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
  background-color: transparent!important
}

@media print {
  code .str, pre .str {
    color: #060
  }
  code .kwd, pre .kwd {
    color: #006
  }
  code .com, pre .com {
    color: #600
  }
  code .typ, pre .typ {
    color: #404
  }
  code .lit, pre .lit {
    color: #044
  }
  code .pun, pre .pun {
    color: #440
  }
  code .pln, pre .pln {
    color: #000
  }
  code .tag, pre .tag {
    color: #006
  }
  code .atn, pre .atn {
    color: #404
  }
  code .atv, pre .atv {
    color: #060
  }
}

.directory-list ul {
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px dashed #ddd
}

.directory-list li {
    list-style: none;
    color: #a9a9a9;
    font-size: 14px;
    font-style: italic;
    font-weight: 400
}

.directory-list a {
    border-bottom: 1px solid transparent;
    color: #888;
    text-decoration: none;
    transition: all .2s ease
}

.directory-list a:hover {
    border-color: #eee;
    color: #000
}

.directory-list .folder,
.directory-list .folder > a {
    color: #777;
    font-weight: 700
}

.directory-list li:before {
    margin-right: 10px;
    content: "";
    height: 20px;
    vertical-align: middle;
    width: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightgrey' d='M85.714,42.857V87.5c0,1.487-0.521,2.752-1.562,3.794c-1.042,1.041-2.308,1.562-3.795,1.562H19.643 c-1.488,0-2.753-0.521-3.794-1.562c-1.042-1.042-1.562-2.307-1.562-3.794v-75c0-1.487,0.521-2.752,1.562-3.794 c1.041-1.041,2.306-1.562,3.794-1.562H50V37.5c0,1.488,0.521,2.753,1.562,3.795s2.307,1.562,3.795,1.562H85.714z M85.546,35.714 H57.143V7.311c3.05,0.558,5.505,1.767,7.366,3.627l17.41,17.411C83.78,30.209,84.989,32.665,85.546,35.714z' /></svg>");
    background-position: center 2px;
    background-size: 60% auto
}

.directory-list li.folder:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightblue' d='M96.429,37.5v39.286c0,3.423-1.228,6.361-3.684,8.817c-2.455,2.455-5.395,3.683-8.816,3.683H16.071 c-3.423,0-6.362-1.228-8.817-3.683c-2.456-2.456-3.683-5.395-3.683-8.817V23.214c0-3.422,1.228-6.362,3.683-8.817 c2.455-2.456,5.394-3.683,8.817-3.683h17.857c3.422,0,6.362,1.228,8.817,3.683c2.455,2.455,3.683,5.395,3.683,8.817V25h37.5 c3.422,0,6.361,1.228,8.816,3.683C95.201,31.138,96.429,34.078,96.429,37.5z' /></svg>");
    background-position: center top;
    background-size: 75% auto
}
