:root {
    --blue: #217BF4;
    --white: #fff;
    --grey: #656464;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}
.hub {
    background-color: var(--blue);
    border: 2px solid var(--blue);
    color: var(--white);
}

.hab {
    border: 2px solid var(--grey);
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.hab:hover {
    border: 2px solid var(--blue);
}

.navbar {
    font-family: 'Poppins', sans-serif;
}

.workingspace {
    font-family: 'Inter', sans-serif;
    align-items: center;
    background-image: linear-gradient(to bottom right, #fff,#fff,#e4f7fc);
}

.workingspace a {
    font-size: 18px;
    text-decoration: none;
}

.workingspace h1 {
    font-weight: 700;
    font-size: 56px;
}

.workingspace h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
}

.workingspace p {
    color: var(--grey);
    font-size: 16px;
}

.label {
    font-size: 12px;
}

.workingspace p {
    color: var(--grey);
    font-size: 18px;
}

.marginerror1 {
    margin-left: 100px;
}

.marginerror2 {
    margin-left: -100px;
}

.infocomp {
    align-items: center;
}

.LPT {
    font-size: 18px;
    color: var(--blue);
}

.infocomp h1 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

.infocomp p {
    font-size: 18px;
    color: var(--grey);
}

.infocomp ul {
    font-size: 18px;
}

ul {
    list-style: none; /* Remove default bullets */
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--blue); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.cardgrup {
    justify-content: center;
    
}

.cardgrup i {
    color: var(--blue);
}

.cardgrup h1 {
    font-size: 20px;
}

.cardgrup h2 {
    font-size: 16px;
}

.cardgrup p {
    color: var(--grey);
}

.cardgrup .moto {
    font-size: 18px;
    color: var(--blue);
}

.cardgrup .titleside {
    font-size: 38px;
    font-weight: 700;
}

.cardgrup .sidepar {
    font-size: 16px;
}

.progrup {
    text-align: center;
}

.progrup .company {
    font-size: 18px;
    color: var(--blue);
    text-decoration: none;
}

.progrup .jasa {
    font-size: 36px;
    font-weight: 700;
}

.progrup .rightman {
    font-size: 16px;
    color: var(--grey);
}

.progrup .card {
    box-shadow: 0 0 5px 0 var(--blue);
    background: inherit;
    backdrop-filter: blur(10px);
}

.progrup img {
    width: 100px;
    margin: auto;
}

@font-face {
    font-family: gmail;
    src: url();
}

@font-face {
    font-family: instagram;
    src: url();
}

.informan {
    background-color: red;
}

.carousel .carousel-item img {
    height: 500px;
    object-fit: cover;
}

.endcard {
    color: #fff;
    padding: 0;
}

.endcard h1 {
    font-size: 20px;
    font-weight: 500;
}

.endcard h4 {
    font-size: 16px;
    font-weight: 400;
}

.footer {
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background-color: darkslategrey;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.terhubung {
    align-items: center;
}

.terhubung a {
    font-size: 18px;
    text-decoration: none;
}

.terhubung h1 {
    font-weight: 700;
    font-size: 56px;
}

.terhubung h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
}

.terhubung p {
    color: var(--grey);
    font-size: 16px;
}

.terhubung p {
    color: var(--grey);
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .marginerror1 {
        margin: auto;
    }
    .marginerror2 {
        margin: auto;
        text-align: center;
    }
    .infocomp {
        text-align: center;
    }
    .cardgrup {
        text-align: center;
        margin: auto;
        
    }
    .cardgrup .card {
        margin-top: 30px;
    }
  }